[Desktop Entry]
Encoding=UTF-8
Name=AWS Plasmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Justin Riley
X-KDE-PluginInfo-Email=justin.t.riley@gmail.com
X-KDE-PluginInfo-Name=awsplasmoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://web.mit.edu/stardev/cluster
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
